<p id="notice"><%= notice %></p>

<p>
  <b>Role:</b>
  <%= @experience.role %>
</p>

<p>
  <b>When:</b>
  <%= @experience.when %>
</p>

<p>
  <b>Where:</b>
  <%= @experience.where %>
</p>


<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
